%h2 Reset Password

%br
= simple_form_for @account, url: password_reset_path(@token) do |f|
  %fieldset
    = f.error_notification

    = f.input :password, label: "New Password", html: {class: "span6"}

    %br
    = f.button :submit, "Update Password", class: "btn-primary"
