<p>Welcome <%= @account.email %>!</p>

<p>You can confirm your account through the link below:</p>

<p><%= link_to 'Confirm my account', activate_accounts_url(@account, token: @account.activation_token) %></p>
