- classes = ["alert-#{type}"]
- classes << "auto-close" if defined?(auto_close) && auto_close
.alert.fade.in{class: classes.join(" ")}
  %a.close(href="javascript:void(0)" data-dismiss="alert") x
  = message
