.command.btn-group{:"data-content" => target.to_json, :"data-position" => position}
  = link_to edit_teammate_path(target), class: "btn btn-mini" do
    %i.icon-pencil
  %button.btn.btn-mini.dropdown-toggle(data-toggle="dropdown")
    %span.caret
  %ul.dropdown-menu
    %li
      = link_to edit_teammate_path(target) do
        %i.icon-pencil
        Edit Teammate
    %li.divider
    %li
      = link_to destroy_teammate_path(target), data: {replace: true} do
        %i.icon-minus-sign
        Delete Teammate
