- page_title "Teammates"
- page_description do
  = render "page_description"

- content_for :javascript do
  = javascript_tag "App.teammates.setup();"

= render "teammates_list", teammates: teammates
