%p Manage the list of teammates to use.
%p
  = link_to new_teammate_path, class: "btn btn-primary" do
    %i.icon-plus.icon-white
    Teammate
  = link_to "/", class: "btn btn-success", data: {push: true} do
    %i.icon-upload.icon-white
    Import
    %i.icon-arrow-left.icon-white
    CSV
  = link_to "/", class: "btn btn-info", data: {push: true} do
    %i.icon-download.icon-white
    Export
    %i.icon-arrow-right.icon-white
    CSV
