.command.btn-group{:"data-content" => target.to_json, :"data-position" => position}
  %a.btn.btn-mini(href data-action="edit")
    %i.icon-pencil
  %button.btn.btn-mini.dropdown-toggle(data-toggle="dropdown")
    %span.caret
  %ul.dropdown-menu
    %li
      %a(href data-action="edit")
        %i.icon-pencil
        Edit Story
    %li
      %a(href data-action="insert-above")
        %i.icon-arrow-up
        Add New Story Above
    %li
      %a(href data-action="insert-below")
        %i.icon-arrow-down
        Add New Story Below
    %li.divider
    %li
      = link_to update_position_story_path(target, position: :first) do
        %i.icon-circle-arrow-up
        Move to TOP
    %li
      = link_to update_position_story_path(target, position: :middle) do
        %i.icon-circle-arrow-right
        Move to MIDDLE
    %li
      = link_to update_position_story_path(target, position: :last) do
        %i.icon-circle-arrow-down
        Move to BOTTOM
    %li.divider
    %li
      = link_to target, method: :delete do
        %i.icon-minus-sign
        Delete Story
