%tr.error
  %td &nbsp;
  %td(colspan="4")
    %p.text-center
      %strong This is where we wish the line to be
  %td
    %strong= velocity.sum
  %td
    = form_tag update_velocity_stories_path,
               class: "form-inline-row",
               data: {replace: true} do
      = text_field_tag :velocity, velocity.value,
                                  class: "input-micro",
                                  autocomplete: "off",
                                  onchange: "$(this).addClass('changed')"
      = submit_tag "Update", class: "btn btn-small btn-inverse"
