%tr.success
  %td &nbsp;
  %td(colspan="4")
    %p.text-center
      %strong This is where we wish the line to be... &nbsp;
      - if velocity.sum > 0
        = link_to "Create New Sprint",
          new_sprint_path(story_ids: velocity.included_stories.map(&:id)),
          class: "btn btn-success",
          id: "btn-new-sprint",
          data: {push: true}
  %td
    %strong= velocity.sum
  %td
    = form_tag update_velocity_stories_path,
               class: "form-inline-row",
               data: {replace: true} do
      = number_field_tag :velocity, velocity.value,
                                    min: 1,
                                    class: "input-mini",
                                    autocomplete: "off"
