%tr.success
  %td &nbsp;
  %td(colspan="4")
    %p.text-center
      %strong This is where we wish the line to be... &nbsp;
      - if velocity.sum > 0
        = link_to "New Sprint",
          new_sprint_path(sprint: {story_ids: velocity.included_story_ids}),
          class: "btn btn-success",
          id: "btn-new-sprint"
  %td
    %strong= velocity.sum
  %td
    = form_tag update_velocity_stories_path, class: "form-inline-row", data: {remote: true} do
      = text_field_tag :velocity, velocity.value,
                                  min: 1,
                                  class: "input-micro",
                                  autocomplete: "off"
