#task-table-wrapper
  overflow: scroll

$tasks-outer-border-color: #999
table.tasks
  position: relative

  &.table-bordered
    border-color: $tasks-outer-border-color

  th
    background-color: rgba(black, 0.05)

  td:first-child, th:first-child
    border-left: 1px solid $tasks-outer-border-color

.task-command
  position: absolute
  padding: 4px 8px
  background-color: #eee
  border-bottom: 1px solid #ddd
  +hover-reveal-hidden(0.2s)

td.task
  padding: 0
  position: relative

  &:hover
    .task-command
      +hover-reveal-shown

th.column-divider, td.column-divider
  padding: 0
  margin: 0
  background-color: #f2f2f2

.task-input
  display: none
  margin: 0
  border: none

.task-content
  padding: 8px

.task-hours
  position: absolute
  bottom: 0
  right: 0
  padding: 4px 8px

.move-task
  @extend .badge
  cursor: move

.task-target
  position: absolute
  z-index: 1
  background-color: green
  +opacity(0.5)

.task-hovering
  background-color: red