@import bootstrap
@import compass/css3
@import animate/shared
@import animate/animations/attention-seekers

body
  min-width: 1080px
  padding-top: 40px
  background: transparent image-url("subtle_white_feathers.png") repeat

header.title
  position: relative
  padding: 15px 0
  background: transparent image-url("mochaGrunge.png") repeat
  color: white

table.hidden-commands
  td > .command
    position: absolute
    margin-left: -65px
    +opacity(0)
    +transition-property(opacity)
    +transition-duration(0.25s)
    +transition-timing-function(ease-in-out)
    +transition-delay(0.5s)

  tr:hover td > .command
    +opacity(1)

form.form-inline-row
  margin: 0

  input.input-micro
    @extend .input-mini
    margin: 0
    margin-right: 10px
    width: 30px

    &.changed
      color: $red
      font-weight: bold

.story-helper
  position: absolute
  color: $successText
  text-align: center
  font-weight: bold
  background-color: $successBackground
  border-radius: 5px
  opacity: 0.6
  border: 2px $successBorder solid

.story-placeholder
  background-color: $warningBackground