- active = nil unless defined?(active)
%li.dropdown{:class => controller_name == active ? "active" : ""}
  %a.dropdown-toggle(href data-toggle="dropdown")
    = label
    %b.caret
  %ul.dropdown-menu
    - entries.each do |entry|
      - if entry[:divider]
        %li.divider
      - else
        = render "layouts/nav_link", entry
