!!!
%html
  %head
    %title Tasking
    = stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          .nav-collapse.collapse
            %ul.nav
              %li.active
                %a(href) Home
              %li
                %a(href) Test
              %li
                %a(href) Blah
    %header.title
      .container
        .row
          .span3
            %h1 Tasking
          .span9
            %p.lead
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.

    .container
      = yield

    = javascript_include_tag "application", "data-turbolinks-track" => true
